<!-- Template containing about page contents -->

{{define "content"}}
<p>
  A lightweight and low dependency blog application written in Go, HTML and CSS. This serves just as a little project
  helping me to understand the core concepts of the web a bit more clearly, thus most of the functionality is purely my
  own Go code.

  These are the non-standard library dependencies:
<ul>
  <li><a href="https://github.com/yuin/goldmark">goldmark</a>, for converting markdown to html.</li>
  <li><a href="github.com/jmoiron/sqlx">sqlx</a> accompanied with <a href="github.com/mattn/go-sqlite3">go-sqlite3</a>,
    , for database interfacing.</li>
  <li><a href="github.com/golang-migrate/migrate/source/file">migrate</a>, for database migrations.</li>
  <li><a href="github.com/kelseyhightower/envconfig">envconfig</a>, for loading environment variables into the
    configuration.</li>
  <li><a href="gopkg.in/yaml.v2">yaml</a>, for yaml config parsing.</li>
</ul>
</p>
{{end}}