<!-- Template containing homepage contents -->

{{define "content"}}
<ul>
    {{range $p := .posts}}
    <!-- TODO - Proper blog title names in URLs -->
    <li><a href="{{$p.Url}}">{{$p.Title}}</a></li>
    {{end}}
</ul>
{{end}}
