<!-- Top level template serving as framework tying all templates together -->

{{define "main"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SSA - {{.pageTitle}}</title>
    <link rel="stylesheet" href="/static/stylesheet/main.css">
</head>

<body>

    <div class="row">
        <div class="col-4">
            <p></p>
        </div>

        <div id="hnavigation" class="col-4">
            {{template "navigation" .}}
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <h1>{{.title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <!-- Actual content loaded in here -->
            {{template "content" .}}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="footer">
                <footer>
                    <p>
                        Source: <a href="https://gitlab.com/jurrewolff/blog" target="_blank"
                            rel="noopener noreferrer">GitLab</a><br>
                        Contact: <a href="mailto: dev@jurrewolff.nl">dev@jurrewolff.nl</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}