{{define "navigation"}}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/">Posts</a></li>
    <li><a href="/">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>
{{end}}