:root {
    --main-bg-color: #393939;
    --secondary-bg-color: #505050;
    --main-txt-color: white;
    --secondary-txt-color: #bbbbbb;

    --main-font: Helvetica;
    --main-font-fb: Arial;
    --main-font-family: Sans-serif;
}

/* Grid-View */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 768px) {
    [class*="col-"] {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* Selectors */
div#navigation ul {
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div#hnavigation ul {
    list-style: none;
}

div#hnavigation li {
    display: inline;
    margin-right: 2em;
}

/* Titles and text */
body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: var(--main-font), var(--main-font-fb), sans-serif;
}

.text {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    white-space: pre-wrap;
    /*Convert \n and \t to html tags*/
    font-family: var(--main-font), var(--main-font-fb), sans-serif;
    margin: 0;
}

/* Navigation menu */
.nav {
    list-style: none;
}

/* Link colors */
a:link {
    color: #FF9800;
    text-decoration: none;
}

a:visited {
    color: #FF9800;
    text-decoration: none;
}

a:hover {
    color: #ff7700;
    text-decoration: none;
}

a:active {
    color: #FF9800;
    text-decoration: none;
}

/* General classes */
.postinfo {
    color: var(--secondary-txt-color);
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

blockquote {
    background: var(--secondary-bg-color);
    border-left: 10px solid #787878;
    font-style: italic;
    color: var(--secondary-txt-color);
    padding: 0.1em;
}

pre {
    background: var(--secondary-bg-color);
}

/* Footer */
.footer {
    background: var(--secondary-bg-color);
    font-size: smaller;
}

.footer a:link {
    color: var(--secondary-txt-color);
}

.footer a:visited {
    color: var(--secondary-txt-color);
}

.footer a:hover {
    color: #d9d9d9;
}

.footer a:active {
    color: var(--secondary-txt-color);
}